---
import { t } from '../i18n';

interface Interest {
  name: string;
  description?: string;
  logo?: string;
  logoDark?: string;
  size?: string;
  link?: string;
}

interface Props {
  interests: Interest[];
}

const { interests } = Astro.props;
---

<div
  class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2 sm:gap-5 grid-flow-row"
>
  {
    interests.map((interest) => (
      <div
        class="interest-item bg-base-200 rounded-md animate-on-scroll border border-base-300 flex gap-2 sm:gap-4"
        class:list={[
          { 'py-2 px-3': interest.size === 'small' },
          { 'row-span-3 p-4 pt-3 sm:p-5 sm:pt-4': interest.size === 'medium' }
        ]}
      >
        {interest.logo && (
          <>
            <img
              src={interest.logo}
              alt={t(interest.name)}
              class="w-12 h-12 block dark:hidden"
            />
            <img
              src={interest.logoDark || interest.logo}
              alt={t(interest.name)}
              class="w-12 h-12 hidden dark:block"
            />
          </>
        )}
        <div class="flex flex-col gap-1">
          <h3 class="text-primary">{t(interest.name)}</h3>
          {interest.description && (
            <p class="text-sm font-light text-base-content/50">
              {t(interest.description)}
            </p>
          )}
          {interest.link && (
            <a
              href={interest.link}
              target="_blank"
              rel="noopener noreferrer"
              class="text-sm font-light text-primary/50"
            >
              {t('visit')}
            </a>
          )}
        </div>
      </div>
    ))
  }
</div>
