---
import { i18n } from '../i18n';
const { t } = i18n;
import data from '../data.json';
import Experiences from '../components/Experiences.astro';
import Section from '../components/Section.astro';
import Courses from '../components/Courses.astro';
import Education from '../components/Education.astro';
import Interests from '../components/Interests.astro';
import Contact from '../components/Contact.astro';
---

<section class="resume flex max-w-6xl gap-14 h-fit lg:flex-row flex-col">
  <section
    class="resume__left min-w-[300px] md:sticky top-0 self-start hidden lg:block"
  >
    <div
      class="profile-card p-8 bg-base-200 rounded-xl flex flex-col gap-6 animate-on-scroll border border-base-300 items-center"
    >
      <img
        class="profile-pic w-50 rounded-full"
        src="/src/images/profile-pic-md.avif"
        alt="Profile Picture"
      />
      <div class="profile-info flex flex-col items-center">
        <h1 class="text-4xl font-extrabold">
          {data.profile.name}
        </h1>
        <p class="text-2xl font-extralight text-primary">
          {t(`${data.profile.title}`)}
        </p>
      </div>
      <Contact contactInfo={data.contactInfo} />
    </div>
  </section>
  <section class="resume__right flex flex-col gap-10">
    <div class="usp flex flex-col gap-4 text-xl font-light">
      {
        (t(`${data.profile.usp}`, { returnObjects: true }) as string[]).map(
          (p: string) => <p>{p}</p>
        )
      }
    </div>

    <div class="grid grid-cols-6 gap-12 grid-flow-row-dense">
      <div class="col-span-6 sm:col-span-2 md:col-span-2">
        <Section title={t('languages')} sectionName="languages" titleSize="md">
          <div class="flex flex-col gap-4">
            {
              data.languages.map((language) => (
                <div class="text-sm">
                  <h4 class="font-light ">{t(language.name)}</h4>
                  <p class="text-xs text-base-content/70">
                    {t(language.level)}
                  </p>
                </div>
              ))
            }
          </div>
        </Section>
      </div>

      <div class="col-span-6 sm:col-span-4">
        <Section
          title={t(data.expertise.title)}
          sectionName="professional-expertise"
          titleSize="md"
        />
        <div class="flex gap-2 flex-wrap">
          {
            data.expertise.data.map((item) => (
              <div class="badge p-4 bg-base-200 font-light text-base-content/70 border border-base-300">
                {t(item.name)}
              </div>
            ))
          }
        </div>
      </div>
      <div class="col-span-6">
        <Section title={t(data.tools.title)} sectionName="tools" titleSize="md">
          <ul class="flex flex-wrap gap-8 justify-center">
            {
              data.tools.data
                .filter((tool) => tool.show && tool.icon)
                .map((tool) => (
                  <li>
                    <img
                      class="h-9"
                      src={tool.icon}
                      alt={tool.name}
                      title={tool.name}
                    />
                  </li>
                ))
            }
          </ul>
        </Section>
      </div>
    </div>

    <Section title={t('currently')} sectionName="currently">
      <Experiences experiences={data.currently} />
    </Section>
    <Section
      title={t('professionalExperience')}
      sectionName="professional-experience"
    >
      <Experiences experiences={data.experience} />
    </Section>
    <Section title={t('courses')} sectionName="courses">
      <Courses courses={data.courses} />
    </Section>
    <Section title={t('education')} sectionName="education">
      <Education education={data.education} />
    </Section>
    <Section title={t('interests.title')} sectionName="interests">
      <Interests interests={data.interests} />
    </Section>
  </section>
</section>

<style is:global></style>
